.table-wrapper {
    overflow: hidden;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    position: relative;
}
.arrow-right {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: 26px;
    padding-left: 40px;
    padding-right: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,1),rgba(255,255,255,1) );
}

.arrow-left {
    display: initial;
    position: absolute;
    top: 1px;
    font-size: 26px;
    padding-right: 0px;
    cursor: pointer;
}

.arrow-left-fix{
    left: -15px;
    position: relative;
}

.left-shadowed {
    -webkit-box-shadow: inset 40px 0px 26px -38px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 40px 0px 26px -38px rgba(0,0,0,0.75);
    box-shadow: inset 40px 0px 26px -38px rgba(0,0,0,0.75);
    line-height: unset;
}

.eos-table {
    min-width: 100%;
}
.node-left {
    padding: 12px;
}
.table-header {
    color: $primary-font-color-main-theme;
    background-color: $modal-block-background-main-theme;
    border-bottom: 1px solid $border-color-main-theme;
    width: 100%;
    min-height: $item-height;
    white-space: nowrap;
    /* height: $item-height; */
    line-height: $item-height;
    position: relative;
    //overflow: hidden;
    .table-header-content {
        left: 0;
        top: 0;
        position: absolute;
        display: flex;
        min-width: 100%;
    }
    .checkbox-inline {
        line-height: $item-height - 1px;
        width: $item-width - 2px;
    }
}

.node-title {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
    overflow: hidden;
    .item {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        padding-left: 20px;
        padding-right: 20px;
        line-height: unset;
        .text {
            cursor: pointer;
        }
        .order-icon {
            padding: 0 3px;
        }
        .eos-icon {
            margin: -5px 0 0;
            vertical-align: middle;
        }
    }
}

.eos-node-list {
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    max-height: calc(100vh - 350px);
    bs-sortable {
        width: 100%;
    }
    .spinner {
        margin-top: 10px;
        width: 48px;
        text-align: center;
        &.transparent {
            opacity: 0;
        }
    }
    .flat-child {
        padding: 0;
    }
    .list {
        min-width: 100%;
        &.has-spinner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100px;
        }
        .spinner-container {
            padding: 20px;
        }
    }
    .node-list-info {
        height: 32px;
        line-height: 32px;
    }
    p {
        margin: 0;
    }
    .updating-stub {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .7);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .spinner {
            margin: 0 auto;
        }
    }
}
