<div class="table-wrapper usual-border">
    <div class="table-header">
        <div class="table-header-content"
             [ngStyle]="{'width.%': 100, 'left.px': headerOffset}">
            <div *ngIf="params.markItems"
                 class="checkbox-inline">
                <label [ngClass]="{'group-checkbox': anyUnmarked && anyMarked}"
                       [tooltip]="markAllTooltip" placement="bottom" container="body" containerClass="tooltip-info">
                    <input type="checkbox" [(ngModel)]="allMarked" (change)="toggleAllMarks()">
                    <span></span>
                </label>
            </div>
            <div *ngIf="!params.markItems"
                 class="node-left">
            </div>
            <div class="node-title">
                <div *ngFor="let field of viewFields"
                     class="item l-font"
                     [ngStyle]="{'width.%': length[field.key]}">
                    <span class="text"
                          [ngClass]="{'selected-text': orderBy}"
                          (click)="orderByField(field.key)">{{field.customTitle || field.title}}</span>
                    <span class="order-icon">
                        <span *ngIf="orderBy?.fieldKey === field.key"
                              class="icon eos-icon small"
                              [ngClass]="{'eos-icon-arrow-blue-top': orderBy?.ascend, 'eos-icon-arrow-blue-bottom': !orderBy?.ascend}"></span></span></div>
                <div *ngFor="let field of customFields"
                     class="item l-font"
                     [ngStyle]="{'width.%': length[field.key]}">
                    <span class="text"
                          [ngClass]="{'selected-text': orderBy}"
                          (click)="orderByField(field.key)">{{field.customTitle || field.title}}</span><span class="order-icon">
                    <span *ngIf="orderBy?.fieldKey === field.key"
                          class="eos-icon small"
                          [ngClass]="{'eos-icon-arrow-blue-top': orderBy?.ascend, 'eos-icon-arrow-blue-bottom': !orderBy?.ascend}"></span></span></div>
            </div>
        </div>
    </div>
    <div class="eos-node-list"
         (scroll)="onListScroll($event)">
        <div class="block list"
             [ngStyle]="{'width.%': 100}">
            <p *ngIf="params.updatingList"
               class="spinner-container text-center">
                <eos-spinner size="lg"></eos-spinner>
            </p>
            <p *ngIf="!nodes?.length && !params.updatingList"
               class="text-center text-info node-list-info">Нет записей.</p>
            <!--Sortable list-->
            <ng-container *ngIf="params.userOrdered && nodes?.length && !params.searchResults && !params.updatingList ">
                <bs-sortable [(ngModel)]="nodes"
                             [itemTemplate]="childTemplate"
                             itemClass="{'highlighted': node.isSelected}"
                             itemActiveClass="sortable-item-active"
                             placeholderItem="Drag here"
                             (drop)="toggleItem()"
                             placeholderClass="placeholderStyle"
                             wrapperClass="sortable-wrapper">
                </bs-sortable>
            </ng-container>
            <!--Simple list-->
            <ng-container *ngIf="!params.userOrdered && nodes?.length && !params.updatingList || params.searchResults && !params.updatingList">
                <eos-node-list-item *ngFor="let item of nodes"
                                    [ngStyle]="{'width.%': 100}"
                                    [length]="length"
                                    [node]="item"
                                    [params]="params"
                                    [customFields]="customFields"
                                    (mark)="checkState()"></eos-node-list-item>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #markAllTooltip>
    {{anyMarked ? 'Снять' : 'Пометить'}}<br/>{{anyMarked ? 'пометки': 'все'}}
</ng-template>

<ng-template #childTemplate
             let-item="item"
             let-index="index">
    <eos-node-list-item [node]="item.value"
                        [length]="length"
                        [params]="params"
                        [customFields]="customFields"
                        (mark)="checkState()"></eos-node-list-item>
</ng-template>
