<div class="eos-param-search">
    <eos-param-header [title]="titleHeader"></eos-param-header>
    <h1>Param Search</h1>
</div>

<button class="btn btn-primary-full" (click)="setData()">Записать</button>

<br>
<br>

<div class="node-marker">
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="checked">
        <span></span>
    </label>
</div>
<br>
<div>{{checked}}</div>
<button class="btn btn-primary" (click)="getDataDb1()">getData1</button>
<hr>






<label class="radio">
    <input type="radio" name="rad1" value="one" [(ngModel)]="radioCheck">
    <span></span>
</label>
<label class="radio">
    <input type="radio" name="rad1" value="two" [(ngModel)]="radioCheck">
    <span></span>
</label>

<p>{{radioCheck}}</p>

<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label>
