<ng-container [ngSwitch]="paramId">
    <ng-container *ngSwitchCase="'web'">
        <eos-param-web
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave"
        ></eos-param-web>
    </ng-container>
    <!-- <ng-container *ngSwitchCase="'other'">
         <eos-param-other
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-other>
    </ng-container>
    <ng-container *ngSwitchCase="'search'">
         <eos-param-search
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-search>
    </ng-container>
    <ng-container *ngSwitchCase="'context-rc'">
         <eos-param-context-rc
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-context-rc>
    </ng-container>
    <ng-container *ngSwitchCase="'authentication'">
         <eos-param-authentication
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-authentication>
    </ng-container>
    <ng-container *ngSwitchCase="'files'">
         <eos-param-files
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-files>
    </ng-container>
    <ng-container *ngSwitchCase="'prj-rc'">
         <eos-param-prj-rc
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
         ></eos-param-prj-rc>
    </ng-container> -->
    <ng-container *ngSwitchCase="'rc'">
         <eos-param-rc
            (formChanged)="recordChanged($event)"
            (formInvalid)="turnOffSave($event)"
            [btnDisabled]="!isChanged || disableSave"
         ></eos-param-rc>
    </ng-container>
</ng-container>