<div [formGroup]="form"
     class="dynamic-input-wrapper">
    <label [hidden]="input.hideLabel"
           [attr.for]="input.key">{{label}}</label>
    <div [ngClass]="{'required': isRequired, 'disabled': disabled}">
        <input class="form-control m-font"
               [formControlName]="input.key"
               [id]="input.key"
               [type]="textType"
               [readonly]="readonly"
               [ngClass]="{'readonly': readonly}"
               [placeholder]="label"
               (focus)="onFocus()"
               (blur)="onBlur()"
               autocomplete="off">
    </div>
</div>
