@import "./breadcrumb/breadcrumb.component";
@import "./desktop/desktop.component";
@import "./desktop-list/desktop-list.component.scss";
@import "./desktop-switcher/desktop-switcher.component.scss";
@import "./notice/notice.component";
@import "./pushpin/pushpin.component.scss";
@import "./title/title.component";
@import "./user/user.component";
@import "./login/login.component.scss";

fieldset {
    display: block;
    padding-left: 0.75em;
    border-radius: 0.25em;
    border: 0.15em groove;
    legend {
        width: auto;
        font-size: medium;
        border-style: none;
    }
}
