<div #item class="eos-node-list-item secondary-text"
     [ngClass]="{'highlighted': node.isSelected, 'flat-child': node.isActive}">
    <div [ngClass]="{'deleted': node.isDeleted}" class="node-list-item clearfix">
        <div *ngIf="params?.markItems" class="node-marker pull-left">
            <label *ngIf="params?.markItems" class="checkbox">
                <input type="checkbox" [ngModel]="node.marked" (ngModelChange)="markNode($event)">
                <span></span>
            </label>
        </div>
        <div *ngIf="!params?.markItems"
             class="node-left">
        </div>

        <div class="node-row pull-left"
             (click)="selectNode($event)"
             (dblclick)="viewNode($event)">
            <eos-node-field *ngFor="let field of viewFields"
                            class="pull-left"
                            [ngStyle]="{'width.px': length[field.key]}"
                            [field]="field"
                            [node]="node"
                            [width]="length[field.key]"
                            (view)="viewNode($event, true)"></eos-node-field><!--
            --><eos-node-field *ngFor="let field of getSlicedCustomFields();let first=first;"
                            class="pull-left1"
                            [class.left-shadowed]="first&&(isShifted())"
                            [ngStyle]="{'width.px': length[field.key]}"
                            [width]="length[field.key]"
                            [field]="field"
                            [node]="node"
                            (view)="viewNode($event, true)"></eos-node-field>
        </div>
    </div>
</div>
