<div class="eos-nav-param block">
    <span class="eos-sandwich">
        <button class="btn sandwich" (click)="changeState()" [ngClass]="{'active': isWide }">
            <span class="icon eos-icon small" [ngClass]="{'eos-icon-menu-white': isWide, 'eos-icon-menu-blue': !isWide}"></span>
        </button>
    </span>

    <span class="pull-right">
        <!-- <eos-pushpin></eos-pushpin> -->
        <!-- <eos-pushpin [hidden]="varr2" [infoOpened]="varr1"></eos-pushpin> -->
    </span>

    <div [ngClass]="{'list-show' : isWide}" class="list">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let param of listParams"
                 [routerLink]="['/parameters', param.url]"
            >{{param.title}}</li>
        </ul>
    </div>
</div>