.eos-nav-param {
        height: $breadcrumbs-height;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    position: relative;

    .pushpin {
        width: $item-width;
        height: $item-height - 2px;
        position: relative;
        right: 0;
        background: $block-color-main-theme;
        transition: right .3s;
    }

    .pushpin:focus {
        border: none;
    }

    .list {
        position: absolute;
        left: -300px;
        min-width: 300px;
        height: 2000px;
        background: $white;
        border-radius: 5px 5px 0 0;
        // transform: translateX(-30px);
        transition: .5s;

        &.list-show {
            left: 0;
        }

        .list-group {
            .list-group-item {
                background: $light-grey-1;
            }
        }
    }

    .eos-sandwich {
        .sandwich {
            transition: .5s;
        }
    }
}
